th,td{
    border:1px solid black;
    padding:8px;
    text-align: center;
}
table,th{
    border-collapse: collapse;
        }
.cl{
     width:100%;
    text-align:center;
}
.contain{
    display:flex;
    gap:40px;

}
.con{
    display:flex;
    flex-direction:column;
    width:50%;
}
.h{
    padding-top:12px;
}
h3{
    margin:0;
    padding:17px;
    
}
